// Custom styles.

// 表格奇数行
.highlight table>tbody>tr {
  &:nth-of-type(odd) { 
    background-color: transparent;
  }
}
// 表格每一行鼠标经过时的颜色
table>tbody>tr {
  &:hover {
    background-color: #FFFFF0;
  }
}
// 表格的单元格
table td, table th {
  border-right: 1px solid #dcdcdc;
}
